$primary:   #6931d8;
$primary-hover: #855ada;

$secondary: #6c757d;
$success:   #28a745;
$info:      #17a2b8;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #f8f9fa;
$dark:      #343a40;

$rounded-borders: 15px;

$brown: #272822;
$light-brown: #3e3f38;
$text-light: #ccc;

$primary-background: #1c1e21;
$card-background: #242526;
$comment-backgroud: #3A3B3C;
$primary-text: #E4E6EB;

$list-group-text: rgb(189, 189, 189);
$list-group-text-hover: #E4E6EB;